section {
    display : flex;
    justify-content: center;
}

.formouter {
    margin-top : 40px;
    width : 50%;
    box-shadow : 0px 0px 10px 1px silver;
    padding-bottom : 10px;
}

.headingdiv>h1{
    width : 80%;
    margin-top : 20px;
    margin-bottom : 10px;
    margin-left : auto;
    margin-right : auto;
    text-align : center;
}

.headingdiv>p{
    width : 70%;
    margin-bottom : 0px !important;
    margin-left : auto;
    margin-right : auto;
    text-align : center;
}

.headingdiv{
    margin-bottom : 40px;
}

.formdfields {
    margin : 20px 0px;
}

.formlabel {
    margin-left : 77px;
    font-weight: bolder;
    margin-bottom: 0px;
}

input {
    border : none;
    outline : none;
    width : 100%;
    height : 30px;
}

.inputdiv {
    border : 1px solid black;
    width : 75%;
    margin : 10px auto;
    border-radius : 2px;
    padding : 5px 10px;
    position : relative;
}

.showbtn{
    position : absolute;
    right : 1.5px;
    top : 1.2px;
    background-color : #00b894;
    color : white;
    font-weight : bold;
}

.passinput {
    width : 85%;
}

.inputdiv:has(input:focus) {
    box-shadow : 0px 0px 3px 2px #00b894;
    border : none;
}

.formsubmit {
    background-color : #00b894;
    width : 100%;
    color : white;
    font-weight: bolder;
}

.formsubmitdiv {
    width : 75%;
    margin : 30px auto;
}

.formsubmit:hover{
    color : white;
    transform : scale(1.02);
}

.linkdiv>p{
    text-align : center;
    width : 70%;
    margin : 10px auto;
}

@media(max-width : 500px) {
    .formouter{
        width : 80%;
    }

    .formlabel{
        margin-left : 26px;
    }

    .inputdiv{
        width : 85%;
    }
}